.App {
  text-align: center;
  border: #e1b382 solid 3px;
}

.App-header {
  background-color: #2d545e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: cornsilk;
}

.App-link {
  color: #61dafb;
}
